/* Set Your Own Margin & Padding */
h2, h3, p {
	margin: 0;
}

/* Layout for Style Tile*/
section {
	margin: 20px 0;
}

h2 {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
}

h3 {
	font-family: 'Josefin Slab', serif;
	font-weight: 600;
}

h4,
p {
	font-family: 'Josefin Slab', serif;
}

.color-1,
.color-2,
.color-3,
.pattern-1,
.pattern-2,
.pattern-3, 
.imagery-1,
.imagery-2,
.imagery-3 {
	border: 1px solid #000;
	float: left;
	margin: 0 10px;
	height: 50px;
	width: 50px;
}

.color-1 {
	background-color: #A3A3A3;
}

.color-2 {
	background-color: #13BFB4;
}

.color-3 {
	background-color: red;
}

.imagery-1 {
	background: url(../img/Sushi-Maru-Logo.png) no-repeat;
}

.imagery-2 {
	background: url(../img/sushi.png) no-repeat;
}

.imagery-3 {
	background: url(../img/sushi2.png) no-repeat;
}

.pattern-1 {
	background: url(../img/texture1.png);
}

.pattern-2 {
	background: url(../img/texture2.png);
}

.pattern-3 {
	background: url(../img/texture3.png);
}

/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}